.filme-date{
    background:#777777;
    padding:4px;
    margin:3px 0;
    display:block;
}

.filme-thumb{
    width:236px;
    height: 358px;
    margin:auto;
}

.footer{
    height:200px;
}

.cat-delete{
    display:inline;
}

.poster{
    max-width:472px;
    max-height:716px;
}
